.continent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}


.region {
    display: flex;
    justify-content: space-between;

    .Button {
        width: 13rem;
        height: 13rem;
        font-family: 'Courier New', Courier, monospace;
        margin: 0 1rem;
    }

}

.country {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5%;
    transition: all 2s ease;
    width: 85%;
}

@media (min-width: 740px) {
    .country {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }
}