html,
body {
	box-sizing: border-box;
	display: grid;
	margin: 0;
	font-family: 'Roboto';
	height: 100%;
	overflow: auto;
	text-align: center;
	grid-template-rows: auto;
	grid-template-areas:
		'header '
		'nav '
		'main'
		'footer';
}

#app {
	height: 100vh;
}

.Header {
	grid-area: header;
}

.Nav {
	grid-area: nav;
}

.Main {
	grid-area: main;
	text-align: center;
}

.Footer {
	grid-area: footer;
}