.Button {
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: #14CCB9;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 'Roboto',
        sans-serif;
    margin-top: 2rem;
}

.Button:hover {
    background-color: #21825B;
    box-shadow: 0 0 0 0 #007144;
}