.Card {
    justify-content: center;
    box-shadow: 0 0.1rem 0.5rem #555;
    height: 16.5rem;

    &__Image {
        display: grid;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__Description {
        text-align: left;
        padding: 1rem;

        &__Country {
            font-size: 0.8rem;
            text-transform: capitalize;
        }

        &__Title {
            font-weight: bold;
        }
    }

}