.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;

    &__Logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-align: center;
        border-radius: 50%;
        font-family: 'Bonjour';
        color: black;
        text-decoration: none;
    }

    &__Logo:hover,
    &__Logo:active {
        text-decoration: none;
        color: black;
    }

    &__Right {
        &__Button {
            .Button {
                margin: 0 0.5rem 0 0;
                padding: 0.7rem;
            }
        }
    }

}