.Profil {
    margin: 1rem;

    h2 {
        margin: 1.5rem auto;
    }

    &__Container {
        width: 100%;
        min-height: 460px;
        margin: 1.5rem auto;
        padding: 1.5rem;
        box-shadow: 0 0.1rem 0.5rem rgba(13, 28, 39, 0.6);
        background: #fff;
        border-radius: 0.8rem;
        max-width: 700px;
        position: relative;

        &__Infos,
        &__Articles {
            margin: 1rem;
            border: 0.1rem solid #999;
            border-radius: 0.5rem;
            padding: 0.8rem;
        }

        &__Infos {
            &__Name {
                color: #14CCB9;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
        }

        &__Articles {
            p {
                color: #14CCB9;
                font-size: 1.2rem;
            }
        }

    }

    &__Modal {
        height: 30rem;

        label {
            text-align: left;
            margin-left: 0.5rem;
            font-weight: normal;
            color: #14CCB9;
        }

        input {
            box-sizing: border-box;
            margin: 0 0.5rem 0.8rem;
            padding: 0.5rem;
            border: 0.1rem solid #ccc;
            border-radius: 0.2rem;
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.1rem 0.1rem rgba(255, 255, 255, 0.5);
            transition: background-color 0.5s ease;
        }

        input:focus {
            border: 0.2rem solid #14ccb9;
        }

        input:hover {
            box-shadow: 0 0.1rem 0 rgba(255, 255, 255, .25),
                inset 0 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
        }

        &__BtnContainer {
            button {
                margin: 0.5rem;
            }
        }
    }
}