.Profil {
    &__Container {
        width: 100%;
        min-height: 460px;
        margin: 1.5rem auto;
        box-shadow: 0 0.1rem 0.5rem rgba(13, 28, 39, 0.6);
        background: #fff;
        border-radius: 0.8rem;
        max-width: 700px;
        position: relative;
    }

    &__Description {
        margin-top: 1.5rem;
    }

    &__Settings {
        display: flex;
        justify-content: center;

    }

}