.Profil {
    margin: 1rem;

    h2 {
        margin: 1.5rem auto;
    }

    &__Container {
        width: 100%;
        min-height: 460px;
        margin: 1.5rem auto;
        padding: 1.5rem;
        box-shadow: 0 0.1rem 0.5rem rgba(13, 28, 39, 0.6);
        background: #fff;
        border-radius: 0.8rem;
        max-width: 700px;
        position: relative;

        &__Infos,
        &__Articles {
            margin: 1rem;
            border: 0.1rem solid #999;
            border-radius: 0.5rem;
            padding: 0.8rem;
        }

        &__Infos {
            &__Name {
                color: #14CCB9;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
        }

        &__Articles {
            p {
                color: #14CCB9;
                font-size: 1.2rem;
            }
        }

    }

    &__Modal {
        &__BtnContainer {
            button {
                margin: 0.5rem;
            }
        }
    }
}