.Nav {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
    background: #FFD320;
    padding: 1.5rem 0;

    &__List {
        padding: 0;
        display: flex;
        align-items: center;

        &__Item {
            display: inline;
            list-style-type: none;
            margin: 0;

            >a {
                color: #FFF;
                text-decoration: none;
                padding: 0 1rem 0.5rem;
            }

            >a:hover {
                color: black;
            }
        }
    }
}

.active {
    border-bottom: 0.5rem solid #14CCB9FF;
}

@media screen and (max-width: 600px) {
    .Nav {
        &__List {
            display: flex;
            flex-direction: column;
        }
    }
}