.Destinations {
    // background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174608/photo-1513635269975-59663e0ac1ad.jpeg") no-repeat;
    background: url("../../assets/images/places-background.jpeg") no-repeat;
    background-size: cover;
    padding: 2rem 0 0;

}